HELP.md
.gradle
.fastRequest
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/target/*
/**/target/

### STS/Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### git ###
*.orig
.flatter
demo-api/.flattened-pom.xml
demo-client/.flattened-pom.xml

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### log file ###
*.log
*_rpc_port.txt

### VS Code ###
.vscode/

### Mac OS ###
hs_err_pid*
.DS_Store
.AppleDouble
.LSOverride

### other ###
*.ctxt
Icon
._*
application-prod.properties
application-test.properties
Wshake-CodeGenerator